/* ОСНОВНЫЕ СТИЛИ СЛАЙДЕРА */

.it-practice-slide{
 /* Отключаем наследование flex-центрирования */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left; 
}

.header-content__slide .it-practice-info{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.it-practice-slider {
    width: 100%;
    max-width: 400px;
    position: relative;
    
}

.it-practice-swiper {
    width: 100%;
    height: 450px;
    padding: 20px 0;
    position: relative;
    overflow: visible !important; /* Важно! */
}

/* КАРТОЧКА СТУДЕНТА */
.student-card {
    width: 80%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
}

/* ИЗОБРАЖЕНИЕ СТУДЕНТА */
.student-image {
    flex: 0 0 80%;
    overflow: hidden;
    position: relative;
}

.student-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
}

/* ИНФОРМАЦИЯ О СТУДЕНТЕ */
.student-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);

}

.student-name {
    font-size: 18px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

.student-group {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
    text-align: center;
}

.student-role {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    margin: 0 auto;
}
/* АКТИВНАЯ КАРТОЧКА */
.it-practice-swiper .swiper-slide-active .student-card {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.it-practice-swiper .swiper-slide-active .student-image img {
    transform: scale(1.1);
}

/* НЕАКТИВНЫЕ КАРТОЧКИ */
.it-practice-swiper .swiper-slide:not(.swiper-slide-active) .student-card {
    opacity: 0.1;
    transform: scale(0.9);
    filter: blur(2px);
}




