
.basic-higher-education-slide {
    /* Отключаем наследование flex-центрирования */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left; /* Текст слева */
}
.header-content__slide .basic-higher-education-info{
    padding: 50px 0 0 0;
}
.directions {
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 100%;
    padding: 0;
}

.direction-name{
    max-width: 1200px;
	font-weight: 600;
	line-height: 1.4;
	display: inline-block;
	font-size: 40px;
    display: flex;
    justify-content: flex-start;
}

